<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>WiaTech - IT Services & Development HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="app/css/app.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favico.png">

</head>

<body class="body header-fixed">

    <div class="preload preload-container">
        <div class="loader">
            <span>Wiatech</span>
            <span>Wiatech</span>
        </div>
    </div>
    
     <!--<< Mouse Cursor Start >>-->  
     <div class="mouse-cursor cursor-outer"></div>
     <div class="mouse-cursor cursor-inner"></div>

    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">

            <!-- Main Header -->
            <header class="main-header">
                <!-- Header Lower -->
                <div class="header-top">
                    <div class="row flex-three">
                        <div class="col-md-7">
                            <ul class="address-top-header flex-three">
                                <li class="flex-three">
                                    <i class="icon-location-dot1"></i>
                                    <span>55 Main Street, 2nd block, Malborne ,Australia</span>
                                </li>
                                <li class="flex-three">
                                    <i class="icon-envelope4"></i>
                                    <span>support@gmail.com</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 flex-six">
                            <ul class="menu-left flex-three">
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Faqs</a>
                                </li>

                            </ul>
                            <ul class="social-top flex-three">
                                <li>
                                    <a href="#"><i class="icon-fb"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-tw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-ytb"></i></a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
                <div class="header-lower">
                    <div class="tf-container full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-container flex justify-space align-center">
                                    <!-- Logo Box -->
                                    <div class="header-left flex">
                                        <div class="logo-box">
                                            <div class="logo">
                                                <a href="index.html">
                                                    <img src="assets/images/logo2.png" alt="Logo">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-outer flex align-center">
                                            <!-- Main Menu -->
                                            <nav class="main-menu show navbar-expand-md">
                                                <div class="navbar-collapse collapse clearfix"
                                                    id="navbarSupportedContent">
                                                    <ul class="navigation clearfix">
                                                        <li class="dropdown2">
                                                            <a href="#">Home</a>
                                                            <ul>
                                                                <li><a href="index.html">Home 01</a></li>
                                                                <li><a href="home2.html">Home 02</a></li>
                                                                <li><a href="home3.html">Home 03</a></li>
                                                                <li><a href="home4.html">Home 04</a></li>
                                                                <li><a href="home5.html">Home 05</a></li>
                                                                <li><a href="home6.html">Home 06</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2"><a href="#">Company</a>
                                                            <ul>
                                                                <li><a href="about-company.html">About Company</a>
                                                                </li>
                                                                <li><a href="team.html">Team Member</a></li>
                                                                <li><a href="team-details.html">Team Details</a>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2">
                                                            <a href="#">Service</a>
                                                            <ul>
                                                                <li><a href="service1.html">Service 01</a></li>
                                                                <li><a href="service2.html">Service 02</a></li>
                                                                <li><a href="service-details.html">Service Details</a></li>
                                                            </ul>
                                                        </li>
                                                        
                                                        <li class="dropdown2"><a href="#">Project Grid</a>
                                                            <ul>
                                                                <li><a href="project-grid.html">Project Grid</a></li>
                                                                <li><a href="project-mansory.html">Project Masonry</a></li>
                                                                <li><a href="project-slider.html">Project Slider</a></li>
                                                                <li><a href="project-details.html">Project Details</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2 "><a href="#">Page</a>
                                                            <ul>
                                                                <li><a href="faq.html">Faq Page</a></li>
                                                                <li><a href="pricing.html">Price Page</a></li>
                                                                <li><a href="404.html">404 Page</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2 current">
                                                            <a href="#">Blog</a>
                                                            <ul>
                                                                <li><a href="blog.html">Blog Full</a></li>
                                                                <li><a href="blog-style2.html">Blog List</a></li>
                                                                <li class="current"><a href="blog-details.html">Blog Detail</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="contact-us.html">Contact</a></li>
                                                    </ul>
                                                </div>
                                            </nav>
                                            <!-- Main Menu End-->
                                        </div>
                                        <div class="header-search">
                                            <a href="#"> <i class="icon-search-icon"></i> </a>
                                        </div>
                                    </div>

                                    <div class="header-account flex align-center">
                                        <div class="phone-address">
                                            <ul class="flex align-center">
                                                <li class="">
                                                    <i class="icon-phone2"></i>
                                                    <span>+236 (456) 896 22</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="flat-bt-top sc-btn-top">
                                            <a class="icon-listing" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight"><i class="icon-uni"></i></a>
                                        </div>
                                        <div class="mobile-nav-toggler mobile-button">
                                            <i class="icon-uni"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Lower -->

                <!-- Mobile Menu  -->
                <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box">
                        <div class="nav-logo"><a href="index.html">
                                <img src="assets/images/logo-footer.png" alt=""></a></div>
                        <div class="bottom-canvas">
                            <div class="menu-outer">
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- End Mobile Menu -->

            </header>
            <!-- End Main Header -->

            <main id="main">
                <section class="breadcumb-section relative">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12 z-index-2 relative ">
                                <div class="title-inner center">
                                    <h2 class="title text-white mb-30">IT Service Studies Accelerating<br>
                                        Business Fly Success Tech Delving<br>
                                        Functionality Perfection</h2>
                                    <div class="title-group text-white">
                                        <a href="index.html">Home</a>
                                        <a href="#">Blog Standard</a>
                                        <a href="#">Harold C. Francisco</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="blog-single pd-section">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <article class="side-blog-single mb-50 relative">
                                    <h3 class="entry-title mb-18">
                                        Delving into the Aesthetics and Functionality Chronicles
                                        Creativity and Precision in Every Project Detail
                                    </h3>
                                    <p class="description mb-40">Sed ut perspiciatis unde omnis iste natus error 
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                         vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni 
                                          dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
                                          quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                                          adipisci velit, sed quia non numquam eius modi tempora incidunt 
                                          ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
                                          ad minima veniam, quis nostrum exercitationem ullam corporis 
                                          suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
                                    </p>
                                    <img src="./assets/images/blog/blog-details.jpg" alt="Image blog" class="mb-30">
                                    <p class="description mb-40">Nemo enim ipsam voluptatem quia voluptas sit 
                                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
                                        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                         qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
                                         sed quia non numquam eius modi tempora incidunte
                                    </p>
                                    <div class="quote-blog bg-2 mb-50">
                                        <blockquote class="flex">
                                            <div class="icon">
                                                <i class="icon-icon-quote"></i>
                                            </div>
                                            <div class="content">
                                                <h3 class="title-quote">Handling Mounting And Unmounting Of Given
                                                    Navigation Routes In React Native</h3>
                                                    <span class="name relative">Kevin C. Young</span>
                                            </div>
                                        </blockquote>                                  
                                    </div>
                                    <p class="description mb-50">
                                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself because it is painse
                                    </p>
                                    <img src="./assets/images/blog/blog-details2.jpg" alt="Image blog" class="mb-30">
                                    <h3 class="entry-title mb-15">
                                        Conference For New Design
                                    </h3>
                                    <p class="description mb-50">
                                        At vero eos et accusamus etodio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                                    </p>
                                    <div class="tag-share-blog pb-50 mb-80 bb-blog">
                                        <div class="tag-blog-widget flex-three">
                                            <span class="tag-share">Tags</span>
                                            <ul class="tag-blog">
                                                <li>
                                                    <a href="#" class="font-man active">IT Design</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-man">Cyber Security</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="font-man">Branding</a>
                                                </li>                                        
                                            </ul>  
                                        </div>
                                        <div class="share-blog-widget flex-three">
                                            <span class="tag-share">Share</span>
                                            <ul class="social-share flex-six">
                                                <li>
                                                    <a href="#" class="flex-five"><i class="icon-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex-five"><i class="icon-twiter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex-five"><i class="icon-ins"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="flex-five"><i class="icon-instagram"></i></a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </article>
                                <div class="author-blog flex-three bg-2 mb-80">
                                    <div class="image">
                                        <img src="./assets/images/avata/avt-profile.jpg" alt="image">
                                    </div>
                                    <div class="content">
                                        <h4>Richard M. Fudge</h4>
                                        <p class="color-text">We denounce with righteous indignation and dislike men who are so beguiled
                                            and demoralized by the charms of pleasure of the moment blinded
                                        </p>
                                        <ul class="social-profile flex-three">
                                            <li>
                                                <a href="#" class="flex-five"><i class="icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-five"><i class="icon-twiter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-five"><i class="icon-ins"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-five"><i class="icon-instagram"></i></a>
                                            </li>
                                        </ul>                                 
                                    </div>

                                </div>
                                <div class="post-blog flex-two mb-80">
                                    <div class="post-blog-item flex-three">
                                        <div class="image-post left">
                                            <img src="./assets/images/blog/bl-2.jpg" alt="">
                                        </div>
                                        <div class="content-post">
                                            <span class="date color-text font-man">October 25, 2023</span>
                                            <h5 class="title"><a href="#">Navigating the Landscape of Our Design Endeavors</a></h5>                                           
                                        </div>
                                    </div>
                                    <div class="post-blog-item flex-six">
                                        <div class="content-post text-end">
                                            <span class="date color-text font-man">October 25, 2023</span>
                                            <h5 class="title"><a href="#">Delving into the Aesthetics and Functionality of Our Design</a></h5>                                           
                                        </div>
                                        <div class="image-post right">
                                            <img src="./assets/images/blog/bl-1.jpg" alt="">
                                        </div>
                
                                    </div>


                                </div>
                                <div class="comment-blog mb-80">
                                    <h3 class="title mb-20">Comments</h3>
                                    <ul class="comment">
                                        <li>
                                            <div class="comment-item flex mb-30">
                                                <div class="comment-image">
                                                    <img src="./assets/images/avata/cmt1.jpg" alt="image">
                                                </div>
                                                <div class="comment-content">
                                                    <span class="name">William L. Jackson</span>
                                                    <span class="date color-text font-man">Sep 25, 2023</span>
                                                    <p class="des font-man color-text">We denounce with righteous indignation and 
                                                        dislike men who are so beguiled and demoralized by the 
                                                        charms of pleasure of the moment so blinded
                                                    </p>
                                                    <a href="#" class="repply-link">Reply <i class="icon-right"></i></a>
                                                    
                                                </div>
                                            </div>
                                            <ul class="comment comment-repply">
                                                <li>
                                                    <div class="comment-item flex ">
                                                        <div class="comment-image">
                                                            <img src="./assets/images/avata/cmt2.jpg" alt="image">
                                                        </div>
                                                        <div class="comment-content">
                                                            <span class="name">James M. Stovall</span>
                                                            <span class="date color-text font-man">Sep 25, 2023</span>
                                                            <p class="des font-man color-text">Pleasure is to be welcomed and every pain avoided in certain circumstances owing to the claims of duty or the obligations business frequently
                                                            </p>
                                                            <a href="#" class="repply-link">Reply <i class="icon-right"></i></a>
                                                            
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-form bg-2">
                                    <h3 class="title bb-blog mb-30"> Leave a Reply</h3>
                                    <form action="/" id="form-comment-blog">
                                        <div class="row">
                                            <div class="col-md-6 mb-20">
                                                <label class="mb-20">Full Name</label>
                                                <input type="text" name="name" class="input-group" placeholder="Enter your name">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label class="mb-20">Email Address</label>
                                                <input type="email" name="email" class="input-group" placeholder="Enter your email">                                   
                                            </div>
                                            <div class="col-lg-12 mb-20">
                                                <label class="mb-20">Website</label>
                                                <input type="url" name="website" class="input-group" placeholder="Enter your website">
                                            </div>
                                            <div class="col-lg-12 mb-20">
                                                <label class="mb-20">Comment</label>
                                                <textarea  name="comment" placeholder="Write your comment" rows="4" cols="50"></textarea>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Send Comments <i class="icon-right"></i></button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="sidebar-blog">
                                    <div class="widget mb-50">
                                        <h4 class="title-blog">Search </h4>
                                        <form action="/" class="search-form-blog relative">
                                            <input type="search" placeholder="Keywords" class="input-search">
                                            <button type="button"><i class="icon-search2"></i></button>
                                        </form>
                                    </div>
                                    <div class="widget mb-50">
                                        <h4 class="title-blog bb-blog mb-30">Categories</h4>
                                        <ul class="category-blog">
                                            <li>
                                                <a href="#" class="flex-two">
                                                    <span>IT Management Solutions</span>
                                                    <i class="icon-arrow-rights"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-two">
                                                    <span>Cyber Security</span>
                                                    <i class="icon-arrow-rights"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-two">
                                                    <span>Product Design</span>
                                                    <i class="icon-arrow-rights"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-two">
                                                    <span>Website Development</span>
                                                    <i class="icon-arrow-rights"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="flex-two">
                                                    <span>Data Security</span>
                                                    <i class="icon-arrow-rights"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                    <div class="widget mb-50">
                                        <h4 class="title-blog bb-blog mb-30">Recent News</h4>

                                        <div class="widget-recent-post">
                                            <div class="recent-post-item flex-three mb-30">
                                                <a href="#" class="image">
                                                    <img src="./assets/images/blog/recent1.jpg" alt="image">
                                                </a>
                                                <div class="content">
                                                    <span class="date font-man">October 25, 2023</span>
                                                    <h5 class="title"><a href="#">IT Service Studies Accelerating Business Fly Success Tech</a></h5>
                                                </div>
                                            </div>
                                            <div class="recent-post-item flex-three mb-30">
                                                <a href="#" class="image">
                                                    <img src="./assets/images/blog/recent2.jpg" alt="image">
                                                </a>
                                                <div class="content">
                                                    <span class="date font-man">October 25, 2023</span>
                                                    <h5 class="title"><a href="#">IT Service Studies Accelerating Business Fly Success Tech</a></h5>
                                                </div>
                                            </div>
                                            <div class="recent-post-item flex-three">
                                                <a href="#" class="image">
                                                    <img src="./assets/images/blog/recent3.jpg" alt="image">
                                                </a>
                                                <div class="content">
                                                    <span class="date font-man">October 25, 2023</span>
                                                    <h5 class="title"><a href="#">IT Service Studies Accelerating Business Fly Success Tech</a></h5>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="widget mb-50">
                                        <h4 class="title-blog bb-blog mb-30">Popular Tags</h4> 
                                        <ul class="tag-blog">
                                            <li>
                                                <a href="#" class="font-man active">IT Design</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Cyber Security</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Branding</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Software</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Data Science</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Apps</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Management</a>
                                            </li>
                                            <li>
                                                <a href="#" class="font-man">Web Development</a>
                                            </li>
                                        </ul>                                  
                                    </div>
                                    <div class="widget">
                                        <div class="widget-banner relative">
                                            <div class="z-index-2 relative">
                                                <h2 class="title-banner text-white fw-300">Looking For Professional IT 
                                                    <span class="agency fw-600">Solutions Agency</span> 
                                                </h2>
                                                <p class="des text-white font-man">Sed perspiciatis omniste voluptateme
                                                    accus antiume doloremque lauda</p>
                                                    <div class="btn-wrap">
                                                        <a href="#" class="more-link">Read More <i class="icon-right-icon"></i></a>
                                                    </div>
                                            </div>                                                                                                     
                                        </div>                   
                                    </div>
                                    

                                </div>

                            </div>                       
                        </div>
                    </div>
                </section>
            </main>

            <footer id="footer" class="bg-1">
                <div class="tf-container">
                    <div class="row footer-top flex-three">
                        <div class="col-md-3">
                            <a href="#" class="logo-footer">
                                <img src="./assets/images/logo-footer.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <ul class="social-footer flex-six">
                                <li>
                                    <a href="#" class="font-man"><i class="icon-facebook"></i>Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-tw"></i>Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-in"></i>LinkedIn</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-instagram"></i>Instagram</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="footer-main row">
                        <div class="col-md-6">
                            <div class="footer-main-newsletter">
                                <h2 class="title-new text-white mb-23">Subscribe <span
                                        class="font-italic">Newsletter</span></h2>
                                <p class="text-white mb-60">We understand that every challenge is an opportunity we are
                                    here seize<br>
                                    a team of dedicated professionals and a culture
                                </p>
                                <form action="/" class="form-footer flex mb-15" id="subscribe-form" method="post" accept-charset="utf-8" data-mailchimp="true">
                                    <div class="input-group relative">
                                        <input type="email" placeholder="Email Address" name="email-form" id="subscribe-email">
                                        <i class="icon-envelope4"></i>
                                    </div>
                                    <button class="submit-footer-form" type="submit" id="subscribe-button">Sign Up <i
                                            class="icon-angle-right1"></i></button>
                                </form>
                                <p class="accept font-man fw-400 text-white">By subscribing, you’re accept <a href="#"
                                        class="text-white fw-700">Privacy Policy</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 footer-main-right flex-one">
                            <div class="footer-main-service">
                                <h5 class="title-footer text-white">Services</h5>
                                <ul class="menu-service">
                                    <li>
                                        <a href="#">Web (UX/UI) Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Machine Learning & AI</a>
                                    </li>
                                    <li>
                                        <a href="#">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="#">IT Cyber Security</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud Computing</a>
                                    </li>
                                    <li>
                                        <a href="#">Analytic & Engineering</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-main-locations">
                                <h5 class="title-footer text-white">Locations</h5>
                                <p class="font-man text-lcation text-white mb-20">55 Main Street, 2nd block <br>
                                    Malborne, Australia</p>
                                <h5 class="title-footer text-white">Contact</h5>
                                <p class="font-man text-lcation ">support@gmail.com</p>
                                <p class="phone text-white">+880 (123) 456 88</p>
                            </div>
                        </div>

                    </div>
                    <div class="row footer-bottom">
                        <div class="col-lg-12">
                            <p class="coppy-right center text-white">© 2023 WiaTech - IT Services. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->

    <!-- Modal search-->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="icon-check1 search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end hamburger-area" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="menu-service">
                <li>
                    <a href="#">About </a>
                </li>
                <li>
                    <a href="#">IT Management</a>
                </li>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>

            </ul>
            <p class="des">Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
            <div class="footer-main-locations">
                <h5 class="title-footer">Contact</h5>
                <p class="font-man text-lcation">55 Main Street, 2nd block <br>
                    Malborne, Australia</p>
                <p class="font-man text-lcation ">support@gmail.com</p>
                <p class="phone">+880 (123) 456 88</p>
            </div>
            <div class="follow-social">
                <span>Follow Us</span>
                <ul class="social-footer flex-three">
                    <li>
                        <a href="#" class="flex-five"><i class="icon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-twiter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-ins"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-instagram"></i></a>
                    </li>
                </ul>

            </div>
            <p class="des">© 2023 WiaTech - IT Services.</p>
        </div>
    </div>

    <a id="scroll-top" class="button-go"></a>

    <!-- Javascript -->
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/jquery.easing.js"></script>
    <script src="app/js/jquery.nice-select.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/plugin.js"></script>
    <script src="app/js/shortcodes.js"></script>
    <script src="app/js/main.js"></script>

</body>

</html>