<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>WiaTech - IT Services & Development HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="app/css/app.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favico.png">

</head>

<body class="body header-fixed">

    <div class="preload preload-container">
        <div class="loader">
            <span>Wiatech</span>
            <span>Wiatech</span>
        </div>
    </div>
    
     <!--<< Mouse Cursor Start >>-->  
     <div class="mouse-cursor cursor-outer"></div>
     <div class="mouse-cursor cursor-inner"></div>

    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">

            <!-- Main Header -->
            <header class="main-header">
                <!-- Header Lower -->
                <div class="header-top">
                    <div class="row flex-three">
                        <div class="col-md-7">
                            <ul class="address-top-header flex-three">
                                <li class="flex-three">
                                    <i class="icon-location-dot1"></i>
                                    <span>55 Main Street, 2nd block, Malborne ,Australia</span>
                                </li>
                                <li class="flex-three">
                                    <i class="icon-envelope4"></i>
                                    <span>support@gmail.com</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 flex-six">
                            <ul class="menu-left flex-three">
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Faqs</a>
                                </li>

                            </ul>
                            <ul class="social-top flex-three">
                                <li>
                                    <a href="#"><i class="icon-fb"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-tw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-ytb"></i></a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
                <div class="header-lower">
                    <div class="tf-container full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-container flex justify-space align-center">
                                    <!-- Logo Box -->
                                    <div class="header-left flex">
                                        <div class="logo-box">
                                            <div class="logo">
                                                <a href="index.html">
                                                    <img src="assets/images/logo2.png" alt="Logo">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-outer flex align-center">
                                            <!-- Main Menu -->
                                            <nav class="main-menu show navbar-expand-md">
                                                <div class="navbar-collapse collapse clearfix"
                                                    id="navbarSupportedContent">
                                                    <ul class="navigation clearfix">
                                                        <li class="dropdown2">
                                                            <a href="#">Home</a>
                                                            <ul>
                                                                <li><a href="index.html">Home 01</a></li>
                                                                <li><a href="home2.html">Home 02</a></li>
                                                                <li><a href="home3.html">Home 03</a></li>
                                                                <li><a href="home4.html">Home 04</a></li>
                                                                <li><a href="home5.html">Home 05</a></li>
                                                                <li><a href="home6.html">Home 06</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2"><a href="#">Company</a>
                                                            <ul>
                                                                <li><a href="about-company.html">About Company</a>
                                                                </li>
                                                                <li><a href="team.html">Team Member</a></li>
                                                                <li><a href="team-details.html">Team Details</a>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2">
                                                            <a href="#">Service</a>
                                                            <ul>
                                                                <li><a href="service1.html">Service 01</a></li>
                                                                <li><a href="service2.html">Service 02</a></li>
                                                                <li><a href="service-details.html">Service Details</a></li>
                                                            </ul>
                                                        </li>
                                                        
                                                        <li class="dropdown2"><a href="#">Project Grid</a>
                                                            <ul>
                                                                <li><a href="project-grid.html">Project Grid</a></li>
                                                                <li><a href="project-mansory.html">Project Masonry</a></li>
                                                                <li><a href="project-slider.html">Project Slider</a></li>
                                                                <li><a href="project-details.html">Project Details</a></li>
                                                            </ul>
                                                        </li>
                                                  
                                                        <li class="dropdown2 "><a href="#">Page</a>
                                                            <ul>
                                                                <li><a href="faq.html">Faq Page</a></li>
                                                                <li><a href="pricing.html">Price Page</a></li>
                                                                <li><a href="404.html">404 Page</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2 current">
                                                            <a href="#">Blog</a>
                                                            <ul>
                                                                <li class="current"><a href="blog.html">Blog Full</a></li>
                                                                <li><a href="blog-style2.html">Blog List</a></li>
                                                                <li><a href="blog-details.html">Blog Detail</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="contact-us.html">Contact</a></li>
                                                    </ul>
                                                </div>
                                            </nav>
                                            <!-- Main Menu End-->
                                        </div>
                                        <div class="header-search">
                                            <a href="#"> <i class="icon-search-icon"></i> </a>
                                        </div>
                                    </div>

                                    <div class="header-account flex align-center">
                                        <div class="phone-address">
                                            <ul class="flex align-center">
                                                <li class="">
                                                    <i class="icon-phone2"></i>
                                                    <span>+236 (456) 896 22</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="flat-bt-top sc-btn-top">
                                            <a class="icon-listing" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight"><i class="icon-uni"></i></a>
                                        </div>
                                        <div class="mobile-nav-toggler mobile-button">
                                            <i class="icon-uni"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Lower -->

                <!-- Mobile Menu  -->
                <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box">
                        <div class="nav-logo"><a href="index.html">
                                <img src="assets/images/logo-footer.png" alt=""></a></div>
                        <div class="bottom-canvas">
                            <div class="menu-outer">
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- End Mobile Menu -->

            </header>
            <!-- End Main Header -->

            <main id="main">
                <section class="breadcumb-section relative">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12 z-index-2 relative ">
                                <div class="title-inner center">
                                    <h1 class="title text-white mb-18">Blog Grid</h1>
                                    <div class="title-group text-white">
                                        <a href="index.html">Home</a>
                                        <a href="#">Blog Grid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="our-blog pd-section">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog4.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Design</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog5.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Software</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog6.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Product</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog7.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Marketing</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog8.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Design</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog9.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">IT Consulting</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog10.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">cyber</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog11.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">Development</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="side-blog mb-70 relative">
                                    <div class="blog-image overflow-hiden">
                                        <a class="post-thumbnail" href="blog-details.html">
                                            <img src="./assets/images/blog/blog12.jpg" alt="Image blog">
                                        </a>
                                    </div>
                                    <div class="blog-content content-list">
                                        <div class="top-detail-info">
                                            <a href="#" class="category font-man">digital</a>
                                            <span class="date font-man">October 25, 2023</span>
                                        </div>
                                        <h3 class="entry-title">
                                            <a href="blog-list.html">IT Service Studies Accelerating
                                                Business Fly Success Tech</a>
                                        </h3>
                                        <p class="description">Sed perspiciatis unde omniste voluptateme
                                            accus antiume doloremque laudantie
                                        </p>
                                        <div class="btn-wrap">
                                            <a href="#" class="more-links">Read More <i class="icon-right-icon"></i></a>

                                        </div>


                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <ul class="tf-pagination flex-five">
                                    <li>
                                        <a class="pages-link" href="#">
                                            <i class="icon-left-icon"></i>
                                        </a>
                                    </li>
                                    <li><a class="pages-link" href="#">01</a></li>
                                    <li>
                                        <a class="pages-link" href="#">02</a>
                                    </li>
                                    <li><a class="pages-link" href="#">03</a></li>
                                    <li><a class="pages-link" href="#">04</a></li>
                                    <li aria-current="page">
                                        <a class="pages-link active" href="#">
                                            <i class="icon-right-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer id="footer" class="bg-1">
                <div class="tf-container">
                    <div class="row footer-top flex-three">
                        <div class="col-md-3">
                            <a href="#" class="logo-footer">
                                <img src="./assets/images/logo-footer.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <ul class="social-footer flex-six">
                                <li>
                                    <a href="#" class="font-man"><i class="icon-facebook"></i>Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-tw"></i>Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-in"></i>LinkedIn</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-instagram"></i>Instagram</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="footer-main row">
                        <div class="col-md-6">
                            <div class="footer-main-newsletter">
                                <h2 class="title-new text-white mb-23">Subscribe <span
                                        class="font-italic">Newsletter</span></h2>
                                <p class="text-white mb-60">We understand that every challenge is an opportunity we are
                                    here seize<br>
                                    a team of dedicated professionals and a culture
                                </p>
                                <form action="/" class="form-footer flex mb-15" id="subscribe-form" method="post" accept-charset="utf-8" data-mailchimp="true">
                                    <div class="input-group relative">
                                        <input type="email" placeholder="Email Address" name="email-form" id="subscribe-email">
                                        <i class="icon-envelope4"></i>
                                    </div>
                                    <button class="submit-footer-form" type="submit" id="subscribe-button">Sign Up <i
                                            class="icon-angle-right1"></i></button>
                                </form>
                                <p class="accept font-man fw-400 text-white">By subscribing, you’re accept <a href="#"
                                        class="text-white fw-700">Privacy Policy</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 footer-main-right flex-one">
                            <div class="footer-main-service">
                                <h5 class="title-footer text-white">Services</h5>
                                <ul class="menu-service">
                                    <li>
                                        <a href="#">Web (UX/UI) Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Machine Learning & AI</a>
                                    </li>
                                    <li>
                                        <a href="#">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="#">IT Cyber Security</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud Computing</a>
                                    </li>
                                    <li>
                                        <a href="#">Analytic & Engineering</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-main-locations">
                                <h5 class="title-footer text-white">Locations</h5>
                                <p class="font-man text-lcation text-white mb-20">55 Main Street, 2nd block <br>
                                    Malborne, Australia</p>
                                <h5 class="title-footer text-white">Contact</h5>
                                <p class="font-man text-lcation ">support@gmail.com</p>
                                <p class="phone text-white">+880 (123) 456 88</p>
                            </div>
                        </div>

                    </div>
                    <div class="row footer-bottom">
                        <div class="col-lg-12">
                            <p class="coppy-right center text-white">© 2023 WiaTech - IT Services. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->

    <!-- Modal search-->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="icon-check1 search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end hamburger-area" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="menu-service">
                <li>
                    <a href="#">About </a>
                </li>
                <li>
                    <a href="#">IT Management</a>
                </li>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>

            </ul>
            <p class="des">Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
            <div class="footer-main-locations">
                <h5 class="title-footer">Contact</h5>
                <p class="font-man text-lcation">55 Main Street, 2nd block <br>
                    Malborne, Australia</p>
                <p class="font-man text-lcation ">support@gmail.com</p>
                <p class="phone">+880 (123) 456 88</p>
            </div>
            <div class="follow-social">
                <span>Follow Us</span>
                <ul class="social-footer flex-three">
                    <li>
                        <a href="#" class="flex-five"><i class="icon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-twiter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-ins"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-instagram"></i></a>
                    </li>
                </ul>

            </div>
            <p class="des">© 2023 WiaTech - IT Services.</p>
        </div>
    </div>

    <a id="scroll-top" class="button-go"></a>

    <!-- Javascript -->
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/jquery.easing.js"></script>
    <script src="app/js/jquery.nice-select.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/plugin.js"></script>
    <script src="app/js/shortcodes.js"></script>
    <script src="app/js/main.js"></script>

</body>

</html>