<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>WiaTech - IT Services & Development HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="app/css/app.css">
    <link rel="stylesheet" href="app/css/owl.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/favico.png">

</head>

<body class="body header-fixed">

    <div class="preload preload-container">
        <div class="loader">
            <span>Wiatech</span>
            <span>Wiatech</span>
        </div>
    </div>

    <!--<< Mouse Cursor Start >>-->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">

            <!-- Main Header -->
            <header class="main-header">
                <!-- Header Lower -->
                <div class="header-top">
                    <div class="row flex-three">
                        <div class="col-md-7">
                            <ul class="address-top-header flex-three">
                                <li class="flex-three">
                                    <i class="icon-location-dot1"></i>
                                    <span>55 Main Street, 2nd block, Malborne ,Australia</span>
                                </li>
                                <li class="flex-three">
                                    <i class="icon-envelope4"></i>
                                    <span>support@gmail.com</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 flex-six">
                            <ul class="menu-left flex-three">
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Faqs</a>
                                </li>

                            </ul>
                            <ul class="social-top flex-three">
                                <li>
                                    <a href="#"><i class="icon-fb"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-tw"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-in"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-ytb"></i></a>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
                <div class="header-lower">
                    <div class="tf-container full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-container flex justify-space align-center">
                                    <!-- Logo Box -->
                                    <div class="header-left flex">
                                        <div class="logo-box">
                                            <div class="logo">
                                                <a href="index.html">
                                                    <img src="assets/images/logo2.png" alt="Logo">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-outer flex align-center">
                                            <!-- Main Menu -->
                                            <nav class="main-menu show navbar-expand-md">
                                                <div class="navbar-collapse collapse clearfix"
                                                    id="navbarSupportedContent">
                                                    <ul class="navigation clearfix">
                                                        <li class="dropdown2">
                                                            <a href="#">Home</a>
                                                            <ul>
                                                                <li><a href="index.html">Home 01</a></li>
                                                                <li><a href="home2.html">Home 02</a></li>
                                                                <li><a href="home3.html">Home 03</a></li>
                                                                <li><a href="home4.html">Home 04</a></li>
                                                                <li><a href="home5.html">Home 05</a></li>
                                                                <li><a href="home6.html">Home 06</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2"><a href="#">Company</a>
                                                            <ul>
                                                                <li><a href="about-company.html">About Company</a>
                                                                </li>
                                                                <li><a href="team.html">Team Member</a></li>
                                                                <li><a href="team-details.html">Team Details</a>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2 current">
                                                            <a href="#">Service</a>
                                                            <ul>
                                                                <li><a href="service1.html">Service 01</a></li>
                                                                <li><a href="service2.html">Service 02</a></li>
                                                                <li class="current"><a
                                                                        href="service-details.html">Service Details</a>
                                                                </li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown2"><a href="#">Project Grid</a>
                                                            <ul>
                                                                <li><a href="project-grid.html">Project Grid</a></li>
                                                                <li><a href="project-mansory.html">Project Masonry</a>
                                                                </li>
                                                                <li><a href="project-slider.html">Project Slider</a>
                                                                </li>
                                                                <li><a href="project-details.html">Project Details</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2"><a href="#">Page</a>
                                                            <ul>
                                                                <li><a href="faq.html">Faq Page</a></li>
                                                                <li><a href="pricing.html">Price Page</a></li>
                                                                <li><a href="404.html">404 Page</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown2">
                                                            <a href="#">Blog</a>
                                                            <ul>
                                                                <li><a href="blog.html">Blog Full</a></li>
                                                                <li><a href="blog-style2.html">Blog List</a></li>
                                                                <li><a href="blog-details.html">Blog Detail</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="contact-us.html">Contact</a></li>
                                                    </ul>
                                                </div>
                                            </nav>
                                            <!-- Main Menu End-->
                                        </div>
                                        <div class="header-search">
                                            <a href="#"> <i class="icon-search-icon"></i> </a>
                                        </div>
                                    </div>

                                    <div class="header-account flex align-center">
                                        <div class="phone-address">
                                            <ul class="flex align-center">
                                                <li class="">
                                                    <i class="icon-phone2"></i>
                                                    <span>+236 (456) 896 22</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="flat-bt-top sc-btn-top">
                                            <a class="icon-listing" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
                                                    class="icon-uni"></i></a>
                                        </div>
                                        <div class="mobile-nav-toggler mobile-button">
                                            <i class="icon-uni"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Lower -->

                <!-- Mobile Menu  -->
                <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
                <div class="mobile-menu">
                    <div class="menu-backdrop"></div>
                    <nav class="menu-box">
                        <div class="nav-logo"><a href="index.html">
                                <img src="assets/images/logo-footer.png" alt=""></a></div>
                        <div class="bottom-canvas">
                            <div class="menu-outer">
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- End Mobile Menu -->

            </header>
            <!-- End Main Header -->

            <main id="main">

                <section class="breadcumb-section relative">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12 z-index-2 relative ">
                                <div class="title-inner center">
                                    <h1 class="title text-white mb-18">Web Development</h1>
                                    <div class="title-group text-white">
                                        <a href="index.html">Home</a>
                                        <a href="#">Services Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-benefit pt-122">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="benefit-content">
                                    <div class="heading-title mb-40">
                                        <span class="sub-title texts-blue font-man">Best Features Development</span>
                                        <h2 class="title">Benefits of Managed IT Services Provided</h2>
                                        <p class="des">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                            accusantiue doloremue
                                            laudantium totam rem aperiam eaque ipsa quae abillo inventore veritatis</p>
                                    </div>
                                    <img src="./assets/images/page/dvl-deatils.jpg" alt="image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="benefit-list">
                                    <ul class="benefit-list-item">
                                        <li>
                                            <div class="flex-three">
                                                <i class="icon-Check"></i>
                                                <h4>IT Manage Service</h4>
                                            </div>
                                            <p>Sed ut perspiciatis unde omnis natus voluptatem accusantium
                                                doloremque laudantium, totam rem aperiam inventore</p>
                                        </li>
                                        <li>
                                            <div class="flex-three">
                                                <i class="icon-Check"></i>
                                                <h4>Keeping Team Productive</h4>
                                            </div>
                                            <p>To take a trivial example, which of us ever undertakes laborious physical
                                                exercise, except to obtain some advantage</p>
                                        </li>
                                        <li>
                                            <div class="flex-three">
                                                <i class="icon-Check"></i>
                                                <h4>Predictable Costs 24/7</h4>
                                            </div>
                                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                                                nihil molestiae consequatur, vellum dolorem</p>
                                        </li>
                                        <li>
                                            <div class="flex-three">
                                                <i class="icon-Check"></i>
                                                <h4>Team is Ready to Help</h4>
                                            </div>
                                            <p>Must explain to you how all this mistaken idea of denouncing pleasure and
                                                praising pain was born and I will give</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-it-manager pt-130 pb-130">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="it-manager-content">
                                    <div class="heading-title mb-20">
                                        <span class="sub-title texts-blue font-man">How to Manage</span>
                                        <h2 class="title">Our Managed IT Services let you Concentrate on What Matters
                                        </h2>
                                    </div>
                                    <ul class="nav nav-tabs-pricing nav-tabs-pricing-service" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="approach-tab" data-bs-toggle="tab"
                                                data-bs-target="#approach-tab-pane" type="button" role="tab"
                                                aria-controls="approach-tab-pane" aria-selected="true">Our
                                                Approach</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="goals-tab" data-bs-toggle="tab"
                                                data-bs-target="#goals-tab-pane" type="button" role="tab"
                                                aria-controls="goals-tab-pane" aria-selected="false">Project
                                                Goals</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="advisory-tab" data-bs-toggle="tab"
                                                data-bs-target="#advisory-tab-pane" type="button" role="tab"
                                                aria-controls="advisory-tab-pane"
                                                aria-selected="false">Advisory</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="approach-tab-pane" role="tabpanel"
                                            aria-labelledby="approach-tab" tabindex="0">
                                            <div class="content-tab-service-details">
                                                <p class="des">At veroeos accusamus dignissimos ducimus blanditiis
                                                    volupta
                                                    delenite atque
                                                    corrupti quos dolores et quas molestias excepturi sint occaecatie
                                                </p>
                                                <ul class="icon-listing">
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Efficient Sprint Planning</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Iterative Delivery Approach</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Standups and Demos</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Problem-solving</p>
                                                    </li>
                                                </ul>
                                                <a href="#" class="button-src">Learn More <i
                                                        class="icon-angle-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="goals-tab-pane" role="tabpanel"
                                            aria-labelledby="goals-tab" tabindex="0">
                                            <div class="content-tab-service-details">
                                                <p class="des">At veroeos accusamus dignissimos ducimus blanditiis
                                                    volupta
                                                    delenite atque
                                                    corrupti quos dolores et quas molestias excepturi sint occaecatie
                                                </p>
                                                <ul class="icon-listing">
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Efficient Sprint Planning</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Iterative Delivery Approach</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Standups and Demos</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Problem-solving</p>
                                                    </li>
                                                </ul>
                                                <a href="#" class="button-src">Learn More <i
                                                        class="icon-angle-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="advisory-tab-pane" role="tabpanel"
                                            aria-labelledby="advisory-tab" tabindex="0">
                                            <div class="content-tab-service-details">
                                                <p class="des">At veroeos accusamus dignissimos ducimus blanditiis
                                                    volupta
                                                    delenite atque
                                                    corrupti quos dolores et quas molestias excepturi sint occaecatie
                                                </p>
                                                <ul class="icon-listing">
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Efficient Sprint Planning</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Iterative Delivery Approach</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Standups and Demos</p>
                                                    </li>
                                                    <li class="flex-three">
                                                        <i class="icon-Check"></i>
                                                        <p class="font-man">Problem-solving</p>
                                                    </li>
                                                </ul>
                                                <a href="#" class="button-src">Learn More <i
                                                        class="icon-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="it-manager-image">
                                    <img src="./assets/images/page/dvl-deatils2.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-performance pt-122 bg-2">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-title m0-auto w-680 center mb-60">
                                    <span class="sub-title texts-blue font-man">Drive Performance</span>
                                    <h2 class="title">Cutting-edge Tools That Drive Performance</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">01</span>
                                    <h4 class="title"><a href="#">Technical Implementation</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">02</span>
                                    <h4 class="title"><a href="#">IT Helpdesk Support</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">03</span>
                                    <h4 class="title"><a href="#">Managed IT Services</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">04</span>
                                    <h4 class="title"><a href="#">IT Consulting Services</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">05</span>
                                    <h4 class="title"><a href="#">Network Support</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 mb-30">
                                <div class="tf-performance">
                                    <span class="number">06</span>
                                    <h4 class="title"><a href="#">Field Tech Support</a></h4>
                                    <p class="des">At vero eos et accusamus et dignissimos
                                        blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="video-service ">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="video-about relative">
                                    <img src="./assets/images/page/video-dvl.jpg" alt="image">
                                    <div class="btn-video video-wrap">
                                        <a href="https://www.youtube.com/watch?v=rrtbyoYx8J4"
                                            class="tf-video flex-five widget-videos">
                                            <i class="icon-Play"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <!--  Testimonial -->
                <section class="pt-122 pb-130">
                    <div class="tf-container">
                        <div class="row mb-70">
                            <div class="col-lg-12">
                                <div class="heading-title center">
                                    <span class="sub-title text-blue1 font-man">Our Testimonials</span>
                                    <h2 class="title">1250+ Clients Say <span class="text-blue1">About Us</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 relative">
                                <div class="myteshome5-wrap overflow-hiden">
                                    <div class="swiper myteshome5 ">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="testimonial-style3 style3-h5 flex-three">
                                                    <div class="image">
                                                        <img src="./assets/images/testimonial/avt.jpg" alt="image">
                                                    </div>
                                                    <div class="content">
                                                        <p class="des">Climb the mountain not to plant your flag but to
                                                            embrace
                                                            the ways challenge, enjoy the air, and behold the. Climb it
                                                            see the world, not so the world can see you.
                                                        </p>
                                                        <div class="testimonial-bottom flex-two">
                                                            <div class="testimonial-top flex-three">
                                                                <i class="icon-des"></i>
                                                                <p class="name">Robert J. Hare/<span
                                                                        class="job font-man">Graphics Designer</span>
                                                                </p>
                                                            </div>
                                                            <div class="review">
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-style3 style3-h5 flex-three">
                                                    <div class="image">
                                                        <img src="./assets/images/testimonial/avt.jpg" alt="image">
                                                    </div>
                                                    <div class="content">
                                                        <p class="des">Climb the mountain not to plant your flag but to
                                                            embrace
                                                            the ways challenge, enjoy the air, and behold the. Climb it
                                                            see the world, not so the world can see you.
                                                        </p>
                                                        <div class="testimonial-bottom flex-two">
                                                            <div class="testimonial-top flex-three">
                                                                <i class="icon-des"></i>
                                                                <p class="name">Robert J. Hare/<span
                                                                        class="job font-man">Graphics Designer</span>
                                                                </p>
                                                            </div>
                                                            <div class="review">
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-style3 style3-h5 flex-three">
                                                    <div class="image">
                                                        <img src="./assets/images/testimonial/avt.jpg" alt="image">
                                                    </div>
                                                    <div class="content">
                                                        <p class="des">Climb the mountain not to plant your flag but to
                                                            embrace
                                                            the ways challenge, enjoy the air, and behold the. Climb it
                                                            see the world, not so the world can see you.
                                                        </p>
                                                        <div class="testimonial-bottom flex-two">
                                                            <div class="testimonial-top flex-three">
                                                                <i class="icon-des"></i>
                                                                <p class="name">Robert J. Hare/<span
                                                                        class="job font-man">Graphics Designer</span>
                                                                </p>
                                                            </div>
                                                            <div class="review">
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                                <i class="icon-start"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Contact -->
                <section class="section-contact contact-service-details bg-5 pt-130 pb-130">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="content">
                                    <div class="heading-title mb-40">
                                        <span class="sub-title text-white font-man">Work Inquiry</span>
                                        <h2 class="title text-white">Let’s Work For your
                                            Next Projects ?</h2>
                                        <p class="des font-man text-white">We denounce with righteous indignation and
                                            like men beguiled and demoralized by the charms</p>
                                    </div>
                                    <div class="contact-wrap flex-three mb-40">
                                        <div class="icon text-white">
                                            <i class="icon-phones"></i>
                                        </div>
                                        <div class="contact-content">
                                            <span class="font-man text-white">Call For Inquiry</span>
                                            <p>+236 (456) 896 22</p>

                                        </div>
                                    </div>
                                    <div class="contact-wrap flex-three">
                                        <div class="icon text-white">
                                            <i class="icon-envelopes"></i>
                                        </div>
                                        <div class="contact-content">
                                            <span class="font-man text-white">Send Us Email</span>
                                            <p>infotech@gmail.com</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-contact-home1 style2">
                                    <div class="inner-title-form center mb-30">
                                        <h3 class="title-form">Need Help For Project!</h3>
                                        <p>We are ready to help your next projects, let’s work together</p>
                                    </div>
                                    <form action="/" class="form-contact-home">
                                        <div class="input-group flex-one">
                                            <fieldset class="relative mb-20">
                                                <input type="text" class="form-control" id="name-input"
                                                    placeholder="Name">
                                                <i class="icon-user"></i>
                                            </fieldset>
                                            <fieldset class="relative mb-20">
                                                <input type="email" class="form-control" id="email-input"
                                                    placeholder="Email">
                                                <i class="icon-envelopes"></i>
                                            </fieldset>
                                        </div>
                                        <fieldset class="mb-20">
                                            <div class="nice-select" tabindex="0">
                                                <span class="current">Choose Services</span>
                                                <ul class="list">
                                                    <li data-value="" class="option selected focus">Choose Services</li>
                                                    <li data-value="service" class="option">Choose Services</li>
                                                    <li data-value="service" class="option">Choose Services</li>
                                                    <li data-value="service" class="option">Choose Services</li>
                                                </ul>
                                            </div>
                                        </fieldset>
                                        <fieldset class=" mb-15">
                                            <textarea id="mess" name="mess" rows="4" cols="50" placeholder="Message">
                                            </textarea>
                                        </fieldset>
                                        <fieldset class="center">
                                            <button class="btn-submit" type="submit">Send Message Us <i
                                                    class="icon-right-icon"></i></button>
                                        </fieldset>

                                    </form>


                                </div>

                            </div>
                        </div>
                    </div>

                </section>



            </main>

            <footer id="footer" class="bg-1">
                <div class="tf-container">
                    <div class="row footer-top flex-three">
                        <div class="col-md-3">
                            <a href="#" class="logo-footer">
                                <img src="./assets/images/logo-footer.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <ul class="social-footer flex-six">
                                <li>
                                    <a href="#" class="font-man"><i class="icon-facebook"></i>Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-tw"></i>Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-in"></i>LinkedIn</a>
                                </li>
                                <li>
                                    <a href="#" class="font-man"><i class="icon-instagram"></i>Instagram</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="footer-main row">
                        <div class="col-md-6">
                            <div class="footer-main-newsletter">
                                <h2 class="title-new text-white mb-23">Subscribe <span
                                        class="font-italic">Newsletter</span></h2>
                                <p class="text-white mb-60">We understand that every challenge is an opportunity we are
                                    here seize<br>
                                    a team of dedicated professionals and a culture
                                </p>
                                <form action="/" class="form-footer flex mb-15" id="subscribe-form" method="post" accept-charset="utf-8" data-mailchimp="true">
                                    <div class="input-group relative">
                                        <input type="email" placeholder="Email Address" name="email-form" id="subscribe-email">
                                        <i class="icon-envelope4"></i>
                                    </div>
                                    <button class="submit-footer-form" type="submit" id="subscribe-button">Sign Up <i
                                            class="icon-angle-right1"></i></button>
                                </form>
                                <p class="accept font-man fw-400 text-white">By subscribing, you’re accept <a href="#"
                                        class="text-white fw-700">Privacy Policy</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 footer-main-right flex-one">
                            <div class="footer-main-service">
                                <h5 class="title-footer text-white">Services</h5>
                                <ul class="menu-service">
                                    <li>
                                        <a href="#">Web (UX/UI) Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Machine Learning & AI</a>
                                    </li>
                                    <li>
                                        <a href="#">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="#">IT Cyber Security</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud Computing</a>
                                    </li>
                                    <li>
                                        <a href="#">Analytic & Engineering</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-main-locations">
                                <h5 class="title-footer text-white">Locations</h5>
                                <p class="font-man text-lcation text-white mb-20">55 Main Street, 2nd block <br>
                                    Malborne, Australia</p>
                                <h5 class="title-footer text-white">Contact</h5>
                                <p class="font-man text-lcation ">support@gmail.com</p>
                                <p class="phone text-white">+880 (123) 456 88</p>
                            </div>
                        </div>

                    </div>
                    <div class="row footer-bottom">
                        <div class="col-lg-12">
                            <p class="coppy-right center text-white">© 2023 WiaTech - IT Services. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->
    <!-- Modal search-->
    <div class="search-wrap">
        <div class="search-inner">
            <i class="icon-check1 search-close" id="search-close"></i>
            <div class="search-cell">
                <form method="get">
                    <div class="search-field-holder">
                        <input type="search" class="main-search-input" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end hamburger-area" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="menu-service">
                <li>
                    <a href="#">About </a>
                </li>
                <li>
                    <a href="#">IT Management</a>
                </li>
                <li>
                    <a href="#">Help Center</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>

            </ul>
            <p class="des">Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet
                fermentum justo dapibus.</p>
            <div class="footer-main-locations">
                <h5 class="title-footer">Contact</h5>
                <p class="font-man text-lcation">55 Main Street, 2nd block <br>
                    Malborne, Australia</p>
                <p class="font-man text-lcation ">support@gmail.com</p>
                <p class="phone">+880 (123) 456 88</p>
            </div>
            <div class="follow-social">
                <span>Follow Us</span>
                <ul class="social-footer flex-three">
                    <li>
                        <a href="#" class="flex-five"><i class="icon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-twiter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-ins"></i></a>
                    </li>
                    <li>
                        <a href="#" class="flex-five"><i class="icon-instagram"></i></a>
                    </li>
                </ul>

            </div>
            <p class="des">© 2023 WiaTech - IT Services.</p>
        </div>
    </div>

    <a id="scroll-top" class="button-go"></a>

    <!-- Javascript -->
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/jquery.easing.js"></script>
    <script src="app/js/jquery.nice-select.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/countto.js"></script>
    <script src="app/js/jquery.magnific-popup.min.js"></script>
    <script src="app/js/swiper-bundle.min.js"></script>
    <script src="app/js/swiper.js"></script>
    <script src="app/js/plugin.js"></script>
    <script src="app/js/shortcodes.js"></script>
    <script src="app/js/main.js"></script>

</body>

</html>