.main-header .main-menu .navigation > li:hover > a, .main-header .main-menu .navigation > li.current > a {
    color: #057a0f !important;
}
.main-header .main-menu .navigation > li > ul > li:hover > a {
    color: #057a0f;
}
.main-header.header-style1 .header-lower .header-account .phone-address i {
    color: #057a0f;
}
.main-header .header-top .address-top-header li i {
    color: #057a0f;
}