@use '../abstracts/' as *;

/* button 
--------------------------------------------------*/
.button-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  color: $primary;
  @include transition3;

  & i {
    font-size: 14px;
    margin-left: 12px;
    font-weight: 700;
  }

  &:hover {
    color: $secondary;
  }
}

.button-main {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: $secondary;
  @include transition3;
  border-radius: 12px;
  border: 1px solid $secondary;
  padding: 13px 37px;

  & i {
    font-size: 14px;
    margin-left: 12px;
    font-weight: 700;
  }

  &:hover {
    background-color: $primary;
  }
}

.more-link {
  background-color: $secondary;
  border-radius: 12px;
  color: $white;
  padding: 19px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  display: inline-block;
  @include transition3;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.button-src {
  background-color: $primary;
  color: $white;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 12px;
  padding: 18px 40px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  width: max-content;

  &::before {
    content: "";
    background-color: $secondary;
    width: 0;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
    border-radius: 12px 12px 0px 0px;
    
  }

  &::after {
    content: "";
    background-color: $secondary;
    width: 0;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
    border-radius: 0px 0px 12px 12px;
  }

  i {
    margin-left: 2px;
    font-size: 10px;
  }

  &:hover {
    
    color: $white;

    &::before,
    &::after {
      width: 100%;
    }
  }
}