
$font-size: 16px;
$font-line: 30px;
$font-family: "Inter", sans-serif;
$font-text: "Manrope", sans-serif;
$fontIcon: "icomoon";

$h1-fs: 65px;
$h1-lh: 75px;

$h2-fs: 48px;
$h2-lh: 55px;

$h3-fs: 22px;
$h3-lh: 30px;

$h4-fs: 20px;
$h4-lh: 30px;

$h5-fs: 18px;
$h5-lh: 28px;

$h6-fs: 16px;
$h6-lh: 19.36px;

$white:#FFFFFF;
$main:#222222;
$main-black:#020626;
$black-it:#020101;
$primary: #086AD8;
$blue:#002FF5;
$blue-dark:#18185E;
$blue-dark2:#252593;
$blue-dark3:#070C37;
$blue-light:#008DF3;
$green:#00E676;
$buguni:#6200EA;
$red:#FD4A18;
$secondary: #D2A98E;
$text:#696969;
$gray:#F8F8F8;
$gray2:#F6F2ED;
$gray3:#F7F8FD;
$gray4:#F8F9FA;
$gray5:#F3EBFF;
$gray-it:#F7F8F9;
$ligh-black:#191919;
$title2:#000000;
$quote:#DCD5CC;
$bg-tes:#252843;
$review:#FFA41B;
$popular:#FF8C22;


$shawdow:rgba(203, 203, 203, 0.25);
$shawdow2:rgba(171, 171, 171, 0.15);
$shawdow3:rgba(67, 67, 67, 0.1);
$shawdow4:rgba(149, 149, 149, 0.1);
$shawdow5:rgba(165, 165, 165, 0.25);
$shawdow6:rgba(149, 149, 149, 0.1);
$shawdow7:rgba(0, 47, 245, 0.6);
$black-10:rgba(2, 6, 38, 0.1);
$black-it-10:rgba(2, 1, 1, 0.1);
$white-20:rgba(255, 255, 255, 0.2);
$white-50:rgba(255, 255, 255, 0.5);
$black-border:rgba(51, 51, 51, 0.1);
$primary-70:rgba(8, 106, 216, 0.07);
$bsd-blue:rgba(24, 24, 94, 0.1);

